*, *::before, *::after {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

.titles{
    font-size: 4em;
    text-align: center;
    color: black;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    /*background-size: 800px;*/
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
    cursor: pointer;
    font-size: 1.8rem;
    color: whitesmoke;
    border: 1px solid darkred;
    outline: none;
    background-color: black;
}

.calc-grid > button:hover {
    background-color: whitesmoke;
    color: darkred;
}

.b-large {
    grid-column: span 2;
    color: whitesmoke;
}

.screen {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    background-color: gainsboro;
}

.screen > .previous-operand {
    color: black;
    font-size: 1.5rem;
}

.screen > .current-operand {
    color: darkorange;
    font-size: 2.5rem;
}
